/* 전체 레이아웃 */
.homeContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding-bottom: 5rem;
}

/* 1. 히어로 세션 (둥근 회색 배경 배너) */
.heroSection {
  width: 100%;                 
  background-color: #D9D9D9;   
  padding: 3rem 10rem;           /* 위아래 3rem, 좌우 8rem 여백 (원하는 만큼 조절) */
  border-radius: 0 0 500px 500px; /* 아래쪽 모서리만 둥글게 처리 */
  
  display: flex;
  justify-content: space-between; /* 글자는 왼쪽, 휠 이미지는 오른쪽 끝으로 정렬 */
  align-items: center;
  box-sizing: border-box;
}

.heroContent {
  width: 100%;
  max-width: 1100px; /* 컨텐츠 최대 폭 제한 */
  margin: 0 auto;    /* 가운데 정렬 */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heroText h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #111;
  margin-bottom: 0.5rem;
}

.heroText h1 {
  font-size: 2.5rem;
  font-weight: 800;
  color: #111;
  margin-bottom: 1.5rem;
}

.heroText h1 span {
  color: #D40000; /* MY wheel 빨간색 */
}

.heroText p {
  font-size: 1.3rem;
  color: #555;
}

.heroWheelImg {
  width: 260px;
  height: auto;
}

/* 공통 기능 섹션 스타일 */
.featureSection {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  text-align: center;
}

.sectionTitle {
  font-size: 2.2rem;
  font-weight: 800;
  color: #111;
  margin-bottom: 0.8rem;
}

.sectionSubtitle {
  font-size: 1.1rem;
  color: #666;
  line-height: 1.6;
  margin-bottom: 2.5rem;
}

/* 2. 휠 커스텀 (튜닝 전/후 카드) */
.customCompareWrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.imageCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.imageCard img {
  width: 380px;
  height:auto;
  object-fit: cover;
}

.tag1 {
  background-color: #7E7E7E;
  color: #fff;
  padding: 0.5rem 2rem;
  border-radius: 30px;
  font-weight: 700;
  font-size: 1rem;
}

.tag {
  background-color: #111;
  color: #fff;
  padding: 0.5rem 2rem;
  border-radius: 30px;
  font-weight: 700;
  font-size: 1rem;
}

.arrow {
  font-size: 3rem;
  font-weight: bold;
  color: #333;
}

/* 이미지 프리뷰 박스 (추천 & 커뮤니티 섹션용) */
.previewBox {
  width: 100%;
  max-width: 800px;
  overflow: hidden;
  margin-bottom: 3rem;
  border: 1px solid #000000;
}

.previewImg {
  width: 100%;
  display: block;
}

/* 빨간색 공통 액션 버튼 (알약 모양) */
.actionBtn {
  background-color: #D40000;
  color: #ffffff;
  padding: 0.8rem 2.5rem;
  border-radius: 50px;
  font-size: 1.1rem;
  font-weight: 700;
  text-decoration: none;
  transition: background-color 0.2s ease; 
  margin-bottom: 10rem;

}

.actionBtn:hover {
  background-color: #a01a12;
}